courses_backend/auth_system/__pycache__/urls.cpython-312.pyc
courses_backend/auth_system/__pycache__/urls.cpython-312.pyc
courses_backend/auth_system/__pycache__/views.cpython-312.pyc
courses_backend/courses_backend/__pycache__/settings.cpython-312.pyc
courses_backend/courses_backend/__pycache__/urls.cpython-312.pyc
